body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #bbb9b9; 
    color: #333; 
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold; 
}

/* Form Styles */
form {
    text-align: center;
    margin-top: 20px;
    width: 80%; 
    margin: auto; 
}

input[type="text"],
input[type="number"],
.checkbox-container {
    margin: 5px 0; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 6px; 
    width: calc(50% - 12px); 
    box-sizing: border-box; 
}

input[type="submit"] {
    margin-top: 20px; 
    padding: 12px 20px; 
    background-color: #ffb7ce; 
    color: rgb(0, 0, 0);
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

input[type="submit"]:hover {
    background-color: #f892b2; 
    transform: scale(1.05); 
}

/* Tables Styles */
.tablesSection {
    margin-top: 20px;
    width: 80%; 
    margin: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px; 
}

th {
    background-color: #f2f2f2;
}

/* Edit Form Styles */
#editForm {
    text-align: center;
    margin-top: 20px;
    width: 80%; 
    margin: auto; 
}

#newText {
    margin: 10px 0; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: calc(50% - 12px); 
    box-sizing: border-box;
}

.setVisibility {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
